<div class="modal" tabindex="-1" role="dialog" id="eliminar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Cliente" asp-action="EliminarCliente">
                <div class="modal-body">
                    <p>¿Está seguro de que desea eliminar este cliente? Al hacerlo, también eliminará sus pedidos.</p>
                    <input name="id" id="clientePorBorrar" type="hidden" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Eliminar</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>