
<nav class="navbar w-100 navbar-expand-lg navbar-dark bg-primary sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Pedido/">Pedidos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Articulo/">Artículos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Cliente/">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Usuario/">Usuarios</a>
            </li>
        </ul>
        <a class="btn btn-outline-light my-2 my-sm-0" href="/Home/Logout">Cerrar sesión</a>
    </div>
</nav>